{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'Mapper'|trans ~ ' - ' ~ 'Zone'|trans }}{% endblock %}
{% block page_actions %}
    <a class="btn btn-secondary" href="{{ ea_url().setRoute('cartographer_zone_regionindex', {id: zone ? zone.region.id : 1}) }}">
        {{ 'Return to index'|trans }}
    </a>
{% endblock %}
{% block main %}
    <h1>{{ 'Create Zone'|trans }}</h1>

    <div class="container mt-2">
        {{ errors }}
    </div>
    
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}